// 重置
@import "~@fekit/mc-base/reset";
@import "~@fekit/mc-base/pos";
@import "~@fekit/mc-tinting/theme/mc-tinting@theme=default";
@import "~@fekit/mc-animate/am-view-aa";

html {
  text-align: center;
  background: #f5f5f5;
  font-size: 14px;
  padding: 3%;
}

body {
  max-width: 600px;
  background: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 2rem;
  line-height: 2;
}

pre {
  font-size: 12px;
  line-height: 1.5;
}

#setting {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
  @extend %pos;
  @extend %am-view-aa;

}

.setting-wrap {
  position: relative;
  //width: 22rem;
  //height: 26em;
  background: #fff;
  padding: 5rem;
  text-align: left;
  border-radius: .2rem;
}

#show_setting {
  display: inline-block;
  padding: 0 2rem;
  background: #3fbe54;
  cursor: pointer;
  border-radius: .2rem;
  color: #fff;
}

#hide_setting {
  position: absolute;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.icon-close {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 30%;
  background: linear-gradient(45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%), linear-gradient(-45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%);
}
